@media only screen and (max-width: 1024px)
{
    .mainnav{
        display: none;
    }
    .ham span{
        display: block;
    }
    html{
        font-size: 57.5%;
    }
    .feed .ph{
        display: inline;
    }
    .feed .rate{
        display: inline;
    }
    .feed img{
    margin-bottom: 0;
}

}
@media only screen and (max-width: 980px)
{
    .span_1_of_4{
        width: 49.2%;
    }
    .span_1_of_4:nth-child(3){
        margin-left: 0;
    }
    
}
@media only screen and (max-width: 768px)
{
    h1{
        font-size: 3.5rem;
    }
    .pot img{
        width: auto;
        height: 20rem;
    }
    .ftr {
        text-align: center;
    }
    .ftr ul li{
        margin: 0 2rem;
    }
}
@media only screen and (max-width: 480px)
{
    h2{
        font-size: 3rem;
    }
    h1{
        font-size: 3.2rem;
    }
    h3{
        font-size: 2.1rem;
    }
}